   
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++
[ RESPONSIVE STYLESHEET ]
AUTHOR : VIJAYAN PP
PROJECT : Nim
VERSION : 1.1
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/*......................................................
	DESKTOP LAYOUT
........................................................*/

@media only screen and (max-width: 900px){
    .ramsh-menu ul li:last-child::after{
        display:none;
    }
    .solution_list ul li{
    	width: 50%;
    }
    
}

@media (min-width: 768px){
	.navbar-nav{
		
			margin: 0px -13px;
	
	}

	.navbar-nav > li > a {
	    padding-top: 24px;
	    padding-bottom: 15px;
	}

}
@media (max-width: 767px){
	.nim-service{
		height: auto;
	}
	.mobile-white-background{
		background-color: #fff;
	}
	.navbar-default .navbar-toggle, .navbar-default .navbar-toggle {
    	background-color: #2196F3;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    	background-color: #2196F3;
    	box-shadow: none;
	}
	.navbar-default .navbar-toggle {
	    border-color: #2196f3;
	}
	.navbar-default .navbar-toggle .icon-bar{
		background-color: #fff;
	}
	.nim-menu.navbar-default .navbar-nav > li > a{
		color: #000 !important;
	}
	.navbar-nav {
		margin: 0px -13px !important;
	}
	.enquiryTop p{
		font-size: 20px;
	}
}
@media (max-width: 420px){
	.headerTop ul li{
		padding-right: 0;
	}
}
/*......................................................
	MOBILE LAYOUT
........................................................*/
