   
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++
[ RESPONSIVE STYLESHEET ]
AUTHOR : VIJAYAN PP
PROJECT : Nim
VERSION : 1.1
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/*......................................................
	DESKTOP LAYOUT
........................................................*/

@media only screen and (max-width: 900px){
    .ramsh-menu ul li:last-child::after{
        display:none;
    }
    
}

@media (min-width: 768px){
	.navbar-nav > li > a {
	    padding-top: 24px;
	    padding-bottom: 15px;
	}
}
/*......................................................
	MOBILE LAYOUT
........................................................*/
